--- QUIZZCO.AI - AI-POWERED QUIZ GENERATOR ---

Python Setup (models/)

Python Version
Python 3.10.0

Navigate to the models folder

cd models
pip install -r dependencies.txt


Node Version
Latest Node.js LTS (20+ recommended)

1. Navigate to frontend
cd src/frontend

2. Install dependencies
npm install

If the above fails (fallback):
npm install @tailwindcss/vite axios katex lucide-react react react-dom react-icons react-markdown react-router-dom react-toastify rehype-katex remark-math socket.io-client tailwindcss toastify
npm install


3. Navigate to backend
cd src/backend

4. Install dependencies
npm install

If the above fails (fallback):
npm install @google/genai @google/generative-ai bcryptjs cors dotenv express express-rate-limit jsonwebtoken mongoose multer nanoid socket.io
npm install


------------SUMMARY-----------------
Models
cd models
pip install -r requirements.txt

Frontend
cd src/frontend
npm install

Backend
cd src/backend
npm install
